@charset"UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html {
	font-family: sans-serif;
	font-size: 16px;
	margin: 0px 0px;
}

body {
	width: 100%;
	height: 100%;
	margin: 0px;
	line-height: 1.5;
}

header {
	background-image: url(../imagens/foto-delegacia1.jpg);
	width: 100%;
	height: 50rem; /*Tamanho referente ao font-size definido no html de 16px*/
	background-size: cover;
	text-align: center;
}

form {
	height: 550px;
	background-color: gray;
	font-size: 2rem;
}

fieldset{
	border: solid 5px white;
	width: 35%;
	margin: auto;
	height: 450px;
	background-color: #E4DCDC;
}

legend {
	font-size: 4rem;
	text-transform: uppercase;
	color: red;
	font-weight: bold;
	margin: 20px;
}

input{
	font-size: 2rem;
}

#pass,#user,.botao{
	display: block;
	margin: 10px;
	box-sizing: border-box;
	padding: 5px;
	border: none;
	background: #A9A5A5
}

#pass:focus ,#user:focus{
	background: white;
}

/*Formatação de imagens*/

#menu {
	height: 10px;
	display: block;
}

#menu h1 {
	display: none;
}		
			
#menu ul {
	padding: 0px;
	height: 40px;
	list-style: none;
	text-transform: uppercase;
	top:0px;
	margin-left: 0px;
	margin-right: 0px;
	font-size:20pt;
}			

#menu li {
	text-align: center;
	background-color: rgba(200,200,200,.8);
	padding: 10px;
	font-weight: bold;
	border: solid 2px white;
	letter-spacing: 1px;
	transition-duration: .3s;
}

#menu li:hover{
	background: #EDE1E1;
}
		
#menu a {
	color: #000000;
	text-decoration: none;
	font-family: sans-serif;
	transition-duration: .2s;
}

#menu a:hover{
	color: #1F5B89;
}


/*Rodapé*/

footer{
	background-color: #D3D3D3;
	padding: 5px 0 8px 0;
	height: 100%;
	text-align: center;
	font-size: 0.9em;
	color: #211E1E;
	font-weight: bold;
}

/*Parte Responsiva a partir de 780px de tela*/

@media screen and (min-width: 48.75rem){
	
header {
	background-image: url(../imagens/foto-delegacia1.jpg);
	width: 100%;
	height: 50rem;
	background-size: cover;
	text-align: left;
}
	
#menu {
	display: block;
}

#menu h1 {
	display: none;
}		
			
#menu ul {
	padding: 0px;
	width: 1100px;
	list-style: none;
	text-transform: uppercase;
	position: fixed;
	top:0px;
	margin-left: 0px;
	margin-right: 0px;
	left: 750px;
	font-size:20pt;
}			

#menu li {
	display: inline-block;
	background-color: rgba(200,200,200,.8);
	padding: 10px;
	font-weight: bold;
	border: solid 2px white;
	letter-spacing: 1px;
	transition-duration: .3s;
}

#menu li:hover{
	background: black;
}
		
#menu a {
	color: #000000;
	text-decoration: none;
	font-family: sans-serif;
	transition-duration: .3s;
}

#menu a:hover{
	color: white;
}

#logo {
	margin: 1em;
	border-radius: 20px;
	height: 12.5em;
}



